$o-navbar-height-xs: 46px;
$o-navbar-height-lg: 40px;
$o-navbar-height: $o-navbar-height-lg;

$o-navbar-background: $o-brand-odoo;

$o-navbar-border-bottom: 1px solid darken($o-brand-odoo, 10%);

$o-navbar-entry-color: $o-white;
$o-navbar-entry-font-size: $o-font-size-base;
$o-navbar-entry-bg--hover: rgba($o-black, 0.08);

$o-navbar-brand-font-size: $o-navbar-entry-font-size * 1.3;

$o-navbar-badge-size: 11px;
$o-navbar-badge-size-adjust: 1px;
$o-navbar-badge-padding: 4px;
$o-navbar-badge-bg: $o-success;
